.amount{
    border: none;
}
.container{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.currency{
    display: flex;
    justify-content: space-between;
}
.currency-icon{
color: #68baa0;
text-align: center;
width: 46px;
height: 46px;
border: 2px solid #68baa0;
border-radius: 50%;
margin: 0 auto;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.currency-title{
color: #68baa0;
text-align: center;
}
#swap {
    margin: 25px 0;
    border: 1px solid #68baa0;
    background: transparent;
    border-radius: 5px;
}
.currency-value{
display: flex;
justify-content: space-between;
align-items: center;
}
.amount{
    border: 1px solid #68baa0;
}
@media(max-width: 500px) {
    .amount-one, .amount-two{
        width: 100%;
    }
    #currency-one, 
    #currency-two{
        margin-right: 5px;
    }
}

.currency-title{
    font-size: 15px;
}
.currency-value{
    flex-direction: column;
}
#swap{
    margin: 15px;
}
div#rate{
    font-size: 15px;
    margin-bottom: 15px;
}